

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
        <a href='http://noclegiuani.pl'>
          <img src="../../../assets/baner.JPG" alt='Miejsce na baner reklamowy' class="card-img-top">
        </a>
        <a href='http://noclegiuani.pl'>
            <img src="../../../assets/baner3.JPG" alt='Miejsce na baner reklamowy' class="card-img-top">
        </a>
        <a href='http://noclegiuani.pl'>
          <img src="../../../assets/baner2.JPG" alt='Miejsce na baner reklamowy' class="card-img-top">
        </a>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-sm-6">
          <app-user-card [user]='user'></app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>